{% extends 'layout.html' %}

{% block title %}
    Turview: CV Enhancer
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 left-half">
                <a href="/"><img src="../static/TurView-logo.png" alt="logo" class="float-start history_logo"></a>
                <form action="/cv_enhancer" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3 input">
                        <label class="input-group-text" for="inputGroupFile01">Please Upload your CV</label>
                        <input type="file" class="form-control" id="inputGroupFile01" name="file">
                    </div>
                    <input class="btn btn-primary col text-end" type="submit" value="Submit" id="submit">
                </form>
            </div>
            <div class="col-md-6 right-half">
            </div>
        </div>
    </div>
{% endblock %}