{% extends 'layout.html' %}

{% block title %}
    TurView: main
{% endblock %}

{% block body %}
    <div>
        <img src="../static/TurView-logo.png" alt="logo" class="index_logo">
    </div>
    <div>
        <a href="register" class="link"><input type="submit" value="Register a TurView" name="register_interview" class="btn btn-secondary btn-primary" id="button"></a>
        <a href="/cv_enhancer" class="link"><input type="submit" value="Enhance yuor CV" name="enhance_cv" class="btn btn-secondary btn-primary" id="button"></a>
    </div> 
{% endblock %}